
body {
    background-color: #AFB4BE;
    color: white;
    padding: 3em;
    min-height: 100vh;
    max-height: 100vh;
    font-size: 1em;
    font-weight: Bolder;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    
}

header {
    background-color: #AF005F;
    padding: 1em;
    margin:.5em;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.column-container {
    background-color: #00C37D;
    padding: 1.7em;
    margin: .5em;
    border-radius: 15px;
    display: grid;

}

article {
    background-color: #FA0050;
    padding:1.5em;
    margin:.5em;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

aside {
    background-color: #005A96;
    padding: 1em;
    margin: .5em;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.turquoise {
    background-color: #00a3c6;
}

footer {
    background-color: #F05F00;
    padding: 1em;
    margin: .5em;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.media-container {
    display: grid;
}

@media screen and (min-width: 913px) {
    .media-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .container3 {
        display: grid;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;
    }

    p {
        justify-self: center;
        align-self: end;
    }
}

@media screen and (max-width: 913px) {
    p {
        display: none;
        margin: 0;
        padding: 0;
        height: 0;
    }
}